[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = {extras = ["binary"], version = "*"}
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
drf-yasg = "*"
django = "*"
google-ai-generativelanguage = "*"
google-auth = "*"
groq = "*"
pgvector = "*"
pillow = "*"
phidata = "*"

[dev-packages]

[requires]
python_version = "*"
