psycopg[binary]
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-allauth
drf-yasg
django
google-ai-generativelanguage
google-generativeai 
google-auth
pgvector
pillow
phidata
pypdf
sqlalchemy
openai